*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 90vh;
}
p{
    font-weight: bold;
    font-size: 48px;
    margin-left: 30px;
    margin-top: 40px;
}
.container1{
    display: flex;
    padding: 20px;
}
@media screen and (max-width: 700px) {
    .Text{
        overflow: hidden;
    }
}
img{
    margin-left: 200px;

}
.Text{
    margin-left: 10px;
    font-size: 32px;
    overflow: hidden;
}
@media only screen and (max-width: 1200px) {
    .Text{
        font-size: 10px;
    }
    img{
        width: 300px;
        height: 200px;
    }
}
.HowToText{
    margin-left: 30px;
    padding-top: 20px;
}

/*how to use section*/
.LinkBtn{
    padding: 15px 0 15px 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 30px 5vw 0 5vw;
    border: aqua 1px solid;
    border-radius: 50px;
}
.LinkBtn > p{
    font-size: medium;
    margin: auto;
}
.EndBtn{
    margin-right: 30px;
    padding: 15px 35px 15px 35px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 200px;
}